
        <div class="container">
            <div class="row">
              <div class="col-12">
                
                <p-table [value]="notificationsArray"
                [lazy]="true"
                (onLazyLoad)="loadCustomers($event)"
                 [scrollable]="true" 
                   scrollHeight="400px"
                   dataKey="id"
                   scrollDirection="both"
                   [paginator]="true" 
                   [rows]="10" 
                   [totalRecords]="totalRecordsOfNotifications" 
                   [loading]="loading"
                   [showCurrentPageReport]="true" 
                   responsiveLayout="scroll"
                   currentPageReportTemplate=""
                   styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
                   >
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="tableStyle" pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                            <th class="tableStyle" pSortableColumn="body">Body <p-sortIcon field="body"></p-sortIcon></th>
                            <th class="tableStyle" pSortableColumn="sendBy">Send By <p-sortIcon field="sendBy"></p-sortIcon></th>
                            <th class="tableStyle" pSortableColumn="sendFor">Send For <p-sortIcon field="sendFor"></p-sortIcon></th>
                            <th class="tableStyle" pSortableColumn="time">Date <p-sortIcon field="time"></p-sortIcon></th>
                        </tr>
                        <tr>    
                          <th>
                            <p-columnFilter  class="tableStyle" type="text" field="title"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter  class="tableStyle" type="text" field="body"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter  class="tableStyle" type="text" field="sendBy"></p-columnFilter>
                        </th>
                        <th>
                          <p-columnFilter  class="tableStyle" type="text" field="sendFor"></p-columnFilter>
                      </th>
                      <th>
                          <p-columnFilter  class="tableStyle" type="text" field="time"></p-columnFilter>
                      </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-notification>
                        <tr>
                            
                            <td class="tableStyle">{{notification.title}} </td>
                            <td class="tableStyle">{{notification.body}}</td>
                            <td class="tableStyle">{{notification.sendBy}}</td>
                            <td class="tableStyle">{{notification.sendFor}}</td>
                            <td class="tableStyle">{{notification.time}}</td>
                        </tr>
                    </ng-template>
                    </p-table>

                </div>
                <div class="col-10">
                    <h4 style="text-align: center;">Delivered Notifications</h4>
                    <div class="notificationTabe">
                     

                    </div>
                </div>
              </div>
         </div>


<p>Paginator</p>



