.notificationTabe{
    width: 40vw;
    margin-left: 2vw;
    margin-top: 2vw;
}

.card{
    min-height: 500px !important
}

.overlaySmallBtn {
    min-width: 80px;
}
.overlayBigBtn{
    min-width: 172px;
}
.newBtn{
    min-width: 130px;
}

.tableStyle{
    min-width: 100px;
    width: 400px;
    font-size: 15px;
}
.tableStyleDropdown{
    min-width: 100px;
    width: 320px;
    font-size: 15px;
}

#block_container
{
    text-align:left;
}
#bloc1, #bloc2
{
    display:inline;
}