
 <div class="container">
    <div class="row height">
        <div class="col-4">
        </div>
        <div class="col-4">
            <h4>Administrator</h4>
         </div>
         <div class="col-4">
         </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div>
            <p-table [value]="listOfAllUsers" [(selection)]="selectedlistOfUsers" dataKey="user" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                 
                        <th>User</th>
                        <th>Device Name</th>
                        <!-- <th>Device Id</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td>{{product.user}}</td>
                        <td >
                          <tr *ngFor="let device of product.device">{{device.deviceName}}</tr>
                        </td>
                        <!-- <td >
                          <tr *ngFor="let device of product.device">{{device.deviceId}}</tr>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
      </div>
     
      <div class="col-6">
        <div class="container">
            <div class="row">
              <div class="col-6">
                <label ><h5>Notification title</h5> </label>
              </div>
              <div class="col-6">
                <input   [(ngModel)]="notificationTitle" placeholder="Title">
              </div>
            </div>
        
            <div class="row">
                <div class="col-6">
                    <label ><h5>Notification body</h5> </label>
                </div>
                <div class="col-6">
                    <input   [(ngModel)]="notificationBody"  placeholder="Body">
                </div>
              </div>
        

              <div class="row">
                <div class="col-6">
                    <label ><h5>Save to database</h5> </label>
                </div>
                <div class="col-6">
                 <input type="checkbox" style="width: 40px;" [(ngModel)]="value">
                </div>
              </div>

              <div class="row">

                <div class="col-6">
                  <button type="submit" class="btn btn-primary" (click)="viewNotifications()">View Notifications</button>
                </div>
                <div class="col-6">
                  <p-progressBar [hidden]="isHiddenProgress" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                  <button type="submit" class="btn btn-primary"  [hidden] ="isHide"  (click)="OnSendNotification()">Send</button>
                </div>
                
              </div>
        
          </div>
        
      </div>
    </div>
  </div>
        

                    
 







