
    <div class="row">
      <div class="col-sm">
      
      </div>
      <div class="col-sm">
       
<div *ngIf="message;">
  <h1>{{ message.notification.title }}</h1>
  <h2>{{ message.notification.body }}</h2>
</div>
<div *ngIf="!message;">
 <h4>User Login</h4>
</div>
<div class="row">

  <div class="col-sm">
      <input   [(ngModel)]="userName"  placeholder="Body">
  </div>
</div>
<br />

<p-progressBar [hidden]="isHiddenProgress" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
<br />


<button type="submit" class="btn btn-primary" [hidden] ="isHiddenLogin" (click)="OnSaveToken()">Login</button>
<button type="submit" class="btn btn-secondary" [hidden] ="isHiddenLogout" (click)="OnRemoveToken()">Log out</button>
      </div>

      <div class="col-sm">
      
      </div>

    </div>
